form {
    background-color: aqua;
    padding: 10px 0px 15px 0px;
    border-radius: 7px;
}
form label {
    font-weight: bold;
    color: rgb(80, 130, 60);
}
form input {
    border-radius: 7px;
    width: 60%;
}
form span {
    margin-left: 2%;
}
form p {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 45px;
}
/*Error class starts always hidden*/
.error-message-hidden {
    display: none;
}
.error-message-shown {
    font-weight: blod;
    color: red;
}
#button-wrap {
    margin-top: 20px;
    text-align: center;
    
    padding-bottom: 15px;
}
#send-button {
    width: 260px;
    border-radius: 7px;
    font-weight: bold;
}
@media only screen and (min-width: 480px) {
    #forms-container  {
        text-align: center;
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) {
    #forms-container {
        text-align: center;
        flex-direction: column;
    }
}
@media only screen and (min-width: 768px) {
    #forms-container{
        display: flex;
        flex-direction: row;
        align-content: space-around;
    }
    #left-form, #right-form {
        flex: 1;
    }
}
