/*General style of the body */
body { 
    font-family: Arial, Helvetica, sans-serif;       
}
body a {
    text-decoration: none;
}
body li {
    list-style: none;
}
/*Maint title and burger menu*/
#main-section {
    text-align: center;
}
#burger-menu {
    text-align: left;
    margin: 15px 0px 0px 5px;
    font-size: large;
}
#center-title {
    text-align: center;
    color: rgb(80, 130, 60);
    border-bottom: solid 10px rgb(160, 190, 150);  
}
#main-section span {
    font-family: 'Franklin Gothic Medium',
     'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;    
}
/*Article section*/
#article-section h1 {
    font-family: 'Franklin Gothic Medium',
     'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold; 
}

.img-container {
    text-align: center;    
}
.article-img {
    text-align: center;
}

.article-img img{
    width: 70%;
    margin-left: auto;    
    max-width: 400px;
}

/*Boxes*/
#related-news-section p {
    width: 60%;
    margin-left: 20%;
}
.box {
    text-align: center;
    font-weight: bold;
    border-bottom: solid 9px blue;
    margin-bottom: 15px;
    /*width: 30%;*/
}
.box img {
    width: 60%;
    min-height: 135px;    
}
.box img:hover {
    opacity: .5;
}











