/*900*/
@media only screen and (min-width: 900px) {
    #hidden-nav-bar a {
     font-size: 20px;
    }
}



/*1024*/
@media only screen and (min-width: 1024px) {
    #hidden-nav-bar a {
     font-size: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    #final-credits-bar p {
     font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    #first-section span {
     font-size: 80px;
    }
}

@media only screen and (min-width: 1024px) {
    body{
        margin-left: 2%;
        margin-right: 2%;
       }     
    #article-section p {
           font-size: 20px;
           line-height: 30px;
       }
    #article-section h1 {
        font-size: 50px;
    }  
    #center-title span {
     font-size: 70px;
    }
}
/*1200px*/
@media only screen and (min-width: 1200px) {
    body{
     margin-left: 1%;
     margin-right: 1%;
    }
    #article-section h1 {
        font-size: 60px;
    }      
    #article-section p {
        font-size: 25px;
        line-height: 40px;
    }
    #article-section h2 {
        font-size: 45px;
    }
}
