/*General style of the body*/
body {
    margin-left: 3%;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
body a {
    text-decoration: none;
}
body li {
    list-style: none;
}
/*Maint title and burger menu*/
#main-section {
    text-align: center;
}
@media only screen and (min-width: 480px) {
    #main-section {
        margin-top: 30px;
    }
}
#burger-menu {
    margin: 15px 0px 0px 5px;
    text-align: left;
    font-size: large;
}
@media only screen and (min-width: 480px) {
    #burger-menu {
     display: none;
    }    
}
#center-title {
    font-family: 'Franklin Gothic Medium',
     'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: solid 10px rgb(160, 190, 150);
    font-size: 40px;
    color: rgb(80, 130, 60);
}
@media only screen and (min-width: 1024px) {
    #center-title span {
        font-weight: bold;
        font-size: 60px;
    }
}
#site-info {
    padding: 30px 0px;
    background-color: aqua;
    border-radius: 5px;
    font-size: 20px;
}
@media only screen and (min-width: 1024px) {
    #site-info, #description-info{
        font-size: 25px;
    }    
}
@media only screen and (min-width: 1200px) {
    #site-info, #description-info{
        font-size: 35px;
    }    
}
/*Boxes*/
.related-news-section {
    display: flex;    
    justify-content: space-around;
}
.related-news-section .box {
    flex: 1;
}
.news-briefing {
    font-size: 16px;
    font-weight: 400;
}
.related-news-section .box p {
    width: 60%;
    margin-left: 20%;
}
.related-news-section .box {
    text-align: center;
    font-weight: bold;
    border-bottom: solid 9px blue;
    margin-bottom: 15px;
}
.box img:hover {
    opacity: .5;
}
#ads-section .box{
    margin-top: 20px;    
    border-bottom: solid 5px gold;
}
#ads-section img {
    border-radius: 15px;
}
@media only screen and (max-width: 768px) {
    .related-news-section  {
     flex-direction: column;
    }
}
@media only screen and (min-width: 768px) {
    .related-news-section  {
     flex-wrap: wrap;
    }
    .related-news-section .box p:nth-child(2){
        font-size:25px;
    }    
}
@media only screen and (min-width: 1024px) {
    .related-news-section .box p:nth-child(2){
        font-size:35px;
    }
}
@media only screen and (max-width: 900px) {
    #ads-section .box:last-child {
        display: none;     
    }
}